<?xml version="1.0"?>
<robot name="vehicle" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:arg name="config_dir" default="$(find autobus_sensor_kit_description)/config"/>
  <xacro:property name="calibration" value="${xacro.load_yaml('$(arg config_dir)/sensors_calibration.yaml')}"/>
  <xacro:property name="sensor_kit_calibration" value="${xacro.load_yaml('$(arg config_dir)/sensor_kit_calibration.yaml')}"/>

  <!-- sensor kit -->
  <xacro:include filename="sensor_kit.xacro"/>
  <xacro:sensor_kit_macro
    parent="base_link"
    x="${calibration['base_link']['sensor_kit_base_link']['x']}"
    y="${calibration['base_link']['sensor_kit_base_link']['y']}"
    z="${calibration['base_link']['sensor_kit_base_link']['z']}"
    roll="${calibration['base_link']['sensor_kit_base_link']['roll']}"
    pitch="${calibration['base_link']['sensor_kit_base_link']['pitch']}"
    yaw="${calibration['base_link']['sensor_kit_base_link']['yaw']}"
  />

  <!-- embedded sensors -->
  <xacro:include filename="$(find velodyne_description)/urdf/VLP-16.urdf.xacro"/>
  
  <!-- Top Lidar -->
  <xacro:VLP-16 parent="sensor_kit_base_link" name="velodyne_top" topic="/sensing/lidar/top/pointcloud_raw" hz="10" samples="220" gpu="$(arg gpu)">
    <origin
      xyz="${sensor_kit_calibration['sensor_kit_base_link']['velodyne_top_base_link']['x']}
           ${sensor_kit_calibration['sensor_kit_base_link']['velodyne_top_base_link']['y']}
           ${sensor_kit_calibration['sensor_kit_base_link']['velodyne_top_base_link']['z']}"
      rpy="${sensor_kit_calibration['sensor_kit_base_link']['velodyne_top_base_link']['roll']}
           ${sensor_kit_calibration['sensor_kit_base_link']['velodyne_top_base_link']['pitch']}
           ${sensor_kit_calibration['sensor_kit_base_link']['velodyne_top_base_link']['yaw']}"
    />
  </xacro:VLP-16>

  <!-- Rear Lidar -->
  <xacro:VLP-16 parent="sensor_kit_base_link" name="velodyne_rear" topic="/sensing/lidar/rear/pointcloud_raw" hz="10" samples="220" gpu="$(arg gpu)">
    <origin
      xyz="${sensor_kit_calibration['sensor_kit_base_link']['velodyne_rear_base_link']['x']}
           ${sensor_kit_calibration['sensor_kit_base_link']['velodyne_rear_base_link']['y']}
           ${sensor_kit_calibration['sensor_kit_base_link']['velodyne_rear_base_link']['z']}"
      rpy="${sensor_kit_calibration['sensor_kit_base_link']['velodyne_rear_base_link']['roll']}
           ${sensor_kit_calibration['sensor_kit_base_link']['velodyne_rear_base_link']['pitch']}
           ${sensor_kit_calibration['sensor_kit_base_link']['velodyne_rear_base_link']['yaw']}"
    />
  </xacro:VLP-16>


</robot>
